body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1000px;
  border: 1px solid rgb(158, 157, 157);
  padding: 30px;
}

#header_title {
  padding: 20px;
  margin: 30px 0px;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

#main_header {
  margin: 40px 0px;
}

.updateContent {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  width: 800px;
}

.updateContent label {
  font-weight: bold;
  font-size: 17px;
  width: 30%;
}

.updateContent button{
  height: 40px;
}

.radios {
  display: flex;
  align-items: center;
  width: 180px;
}

.radios label {
  margin-left: 10px;
}

.options {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.options label {
  width: 60%;
}

#footer button {
  width: 250px;
  height: 50px;
  margin: 10px;
  font-weight: bold;
}
