@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  width: 500px;
  height: 1250px;
  font-family: "SUITE-Regular";
}
#wrap {
  width: 500px;
  height: 1250px;
  display: flex;
  flex-direction: column;
}
.accordion-button:not(.collapsed) {
  background-color: white;
}

#header {
  text-align: center;
}
.header {
  z-index: 1;
  position: sticky;
  top: 0px;
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
}

.headerRightBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  background-color: white;
}

#header,
#main,
#footer {
  display: flex;
  flex-direction: column;
}

#itemQuantity,
#quantityBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.optionContent {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.accordion-body {
  margin: 0px;
  padding: 0px;
}

.form-check {
}

#recomeMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#recomInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#recomInfo div {
  margin: 5px;
}
#footerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.mybtn {
  width: 25%;
  height: 48px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(77, 41, 27);
  color: whitesmoke;
}
.mybtn2 {
  width: 25%;
  height: 48px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(231, 224, 218);
  color: rgb(77, 41, 27);
}
