#wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 700px;
  height: 1000px;
  border: 1px solid black;
  background-color: #fdd000;
}
#main {
  margin: 10px;
  width: 40%;
  height: 30%;
}
#idBox {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
#pwBox {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
#nameBox {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
#footer {
  display: flex;
  width: 100%;
  margin: 10px;
  justify-content: space-evenly;
}
