#wrap {
  width: 700px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffdc00;
}

#main h4 {
  text-align: center;
}

#idBox,
#pwBox,
#nameBox {
  display: flex;
  flex-direction: row;
  width: 400px;
  padding: 10px;
}

label {
  width: 30%;
  text-align: center;
  margin: 5px;
  font-weight: bold;
}
