.kiosk-box {
  width: 500px;
  height: 1000px;
}

.headerRightBox {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}

.nav {
  display: flex;
  justify-content: space-around;
}
.sectionMove {
  display: none;
}
.rmBox_Container {
  display: flex;
  justify-content: left;
}
.rmBox_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 30%;
  margin: 15px;
}
.rmBox_inner > img {
  height: 80%;
  width: 80%;
}
.cartBox {
  background-color: black;
  padding: 5px 10px 5px 10px;
  position: fixed;
  margin: 5px;
  width: 470px;
  bottom: 10px;
}
.goToBox {
  display: flex;
  justify-content: space-between;
}
