body {
  margin: 15px;
}

a {
  color: black;
  text-decoration: none;
}
#wrap {
  height: 500px;
  width: 1500px;
  display: flex;
  flex-direction: column;
}
#header {
  display: flex;
  flex-direction: row;
}
#main {
  height: 80%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#adCal {
  width: 300px;
}

.list {
  display: flex;
  flex-direction: column;
}


.menu_height{
opacity: 1;
}

    #footer_menu {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border: 1px solid rgb(215, 214, 214);
      width: 500px;
      margin-top: 200px;
      padding: 5px;
      position: fixed;
      bottom: 10px;
      background-color: white;
    }

    .menu {
      text-align: center;
      opacity: 0.6;
    }

    .menu_name {
      font-size: 13px;
    }

