@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
body {
  width: 500px;
  height: 1250px;
  font-family: "SUITE-Regular";

  background-color: rgba(215, 215, 215, 0.147);
  font-family: "SUITE-Regular";
}
#wrap {
  width: 500px;
  height: 1250px;
  font-family: "SUITE-Regular";
}
#header {
  background-color: white;
  margin: 10px;
  padding: 10px;
}
#topNav {
 z-index: 0;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  width: 58%;
  font-weight: bold;
  font-size: 17px;
  padding: 10px 0px;
}
#topNar {
  background-color: rgba(23, 22, 22, 0.893);
  border-radius: 5px;
  text-align: center;
  color: white;
  padding: 10px;
}
#marketInfo {
  padding: 20px 0px;
  text-align: center;
}

#number {
  font-size: 23px;
  font-weight: bold;
}

#main {
  background-color: white;
  margin: 10px;
  padding: 10px;
}
.cartIn2 {
  width: 100%;
  display: flex;
}
.cartLeft {
  width: 100%;
  display: flex;
}
.leftC {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cartRight {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#footer {
  background-color: white;
  margin: 10px;
  padding: 10px;
}
.sort {
  display: flex;
  justify-content: space-between;
  padding: 2px 0px;
}
