<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>공지사항 글 수정</title>
  </head>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"
  ></script>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="./css/adminNoticeUpdate.css"
  />
  <body>
    <div id="wrap">
      <div id="header">
        <img src="./img/megaLogo.png" width="400px" />
        <div id="header_title">
          <h3>공지사항 수정</h3>
        </div>
      </div>
      <div id="main">
        <div id="main_header">
          <div class="mainContent">
            <input id="noticeNo" type="hidden" th:value="${notice.noticeNo}" />
            <div id="title">
              <label>제목</label>
              <input
                id="inputNoticeTitle"
                name="inputNoticeTitle"
                class="form-control"
                th:value="${notice.noticeTitle}"
              />
            </div>
          </div>
          <div class="mainContent">
            <div id="user">
              <label>작성자</label>
              <input
                id="inputNoticeUser"
                name="inputNoticeUser"
                class="form-control"
                th:value="${notice.noticeUser}"
              />
            </div>
          </div>
        </div>
        <div id="main_middle">
          <div class="mainContent">
            <div id="content">
              <label>내용</label>
              <textarea
                class="form-control"
                id="inputNoticeContent"
                name="inputNoticeContent"
                rows="3"
                th:text="${notice.noticeContent}"
              ></textarea>
            </div>
          </div>
          <div class="mainContent">
            <div id="image">
              <label>이미지</label>
              <div>
                <img
                  class="admin_item_img"
                  id="imgNoticeImageUrl"
                  th:src="${notice.noticeImage}"
                  width="130px"
                />
              </div>
              &nbsp;&nbsp;<button
                type="file"
                class="btn btn-dark"
                onclick="onClickUpload2();"
                style="width: 80px"
              >
                변경
              </button>
              <input
                type="file"
                style="visibility: hidden"
                id="inputNoticeImageUrl"
                th:value="${notice.noticeImage}"
                onchange="readURL2(this);"
              />
            </div>
          </div>
        </div>
        <div id="main_footer">
          <div class="mainContent">
            <div id="dateTime">
              <label>작성 시간</label>
              <input
                id="inputNoticeDatetime"
                name="inputNoticeDatetime"
                class="form-control"
                th:value="${notice.noticeDatetime}"
              />
            </div>
          </div>
        </div>
      <div id="footer">
        <button class="btn btn-secondary" onclick="history.back();">
          취소
        </button>
        <button class="btn btn-warning" onclick="noticeUpdate();">수정</button>
      </div>
    </div>
    <script src="./js/adminUpdate.js"></script>
  </body>
</html>
