<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>주문 정보 수정</title>
  </head>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="./css/adminItemUpdate.css" />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
    crossorigin="anonymous"
  />

  <body>
    <div id="wrap">
      <div id="header">
        <img src="./img/megaLogo.png" width="400px" />
      </div>
      <div id="main">
        <div id="main_header">
          <h3>주문 정보 수정</h3>
        </div>
        <!-- 타임리프 처리 -->
        <!-- 보이지 않는 것 -->
        <input id="orderNo" type="hidden" th:value="${order.orderNo}" />
        <input id="orderCode" type="hidden" th:value="${order.orderCode}" />
        <input
          id="cartItemCode1"
          type="hidden"
          th:value="${order.cartItemCode1}"
        />
        <input
          id="cartItemCode2"
          type="hidden"
          th:value="${order.cartItemCode2}"
        />
        <input
          id="cartItemCode3"
          type="hidden"
          th:value="${order.cartItemCode3}"
        />
        <input
          id="cartItemCode4"
          type="hidden"
          th:value="${order.cartItemCode4}"
        />
        <input
          id="cartItemCode5"
          type="hidden"
          th:value="${order.cartItemCode5}"
        />
        <!-- 보이는 것 -->
        <div class="updateContent">
          <label>주문 임시번호</label>
          <input
            class="form-control"
            id="inputOrderNumber"
            name="inputOrderNumber"
            type="text"
            th:value="${order.orderNumber}"
          />
        </div>
        <div class="updateContent">
          <label>총 상품 개수</label>
          <input
            class="form-control"
            id="inputOrderTotalCount"
            name="inputOrderTotalCount"
            type="text"
            th:value="${order.orderTotalCount}"
          />
        </div>
        <div class="updateContent">
          <label>총 금액</label>
          <input
            class="form-control"
            id="inputOrderTotalPrice"
            name="inputOrderTotalPrice"
            type="text"
            th:value="${order.orderTotalPrice}"
          />
        </div>
        <div class="updateContent">
          <label>결제 시간</label>
          <input
            class="form-control"
            id="inputOrderDatetime"
            name="inputOrderDatetime"
            type="text"
            th:value="${order.orderDatetime}"
          />
        </div>
        <div class="updateContent">
          <label>결제 수단</label>
          <select name="payType" id="payType">
            <option value="현금">현금</option>
            <option value="카드">카드</option>
          </select>
        </div>
        <div class="updateContent">
          <label>결제 상태</label>
          <select name="payState" id="payState">
            <option value="결제 완료">결제 완료</option>
            <option value="주문 확인">주문 확인</option>
            <option value="제조 완료">제조 완료</option>
          </select>
        </div>
        <div id="footer">
          <button class="btn btn-secondary" onclick="history.back();">
            취소
          </button>
          <button class="btn btn-warning" onclick="orderUpdate();">수정</button>
        </div>
      </div>
    </div>
    <script src="./js/adminUpdate.js"></script>
  </body>
</html>
