<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>지도 표시 예제</title>
  </head>
  <body>
    <div id="map" style="width: 480px; height: 200px"></div>
<!--    <script-->
<!--      type="text/javascript"-->
<!--      src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=01d43a4d666d0d6d94dee30754f4f76a&libraries=services"-->
<!--    ></script>-->
<!--    <script>-->
<!--      var mapContainer = document.getElementById("map"); // 지도를 표시할 div-->
<!--      var mapOption = {-->
<!--        center: new kakao.maps.LatLng(37.73587, 127.043654), // 지도의 중심좌표-->
<!--        level: 1, // 지도의 확대 레벨-->
<!--      };-->

<!--      // 지도를 생성합니다-->
<!--      var map = new kakao.maps.Map(mapContainer, mapOption);-->

<!--      // 마커 이미지를 생성합니다-->
<!--      var markerImage = new kakao.maps.MarkerImage(-->
<!--        "./img/marker.png",-->
<!--        new kakao.maps.Size(30, 40),-->
<!--        { offset: new kakao.maps.Point(15, 30) }-->
<!--      );-->

<!--      // 마커의 좌표를 설정합니다-->
<!--      var markerPosition = new kakao.maps.LatLng(37.738574, 127.043625);-->

<!--      // 마커를 생성합니다-->
<!--      var marker = new kakao.maps.Marker({-->
<!--        position: markerPosition,-->
<!--        image: markerImage,-->
<!--      });-->

<!--      // 마커를 지도에 표시합니다-->
<!--      marker.setMap(map);-->

<!--      // 지도의 중심을 마커의 위치로 이동시킵니다-->
<!--      map.setCenter(markerPosition);-->
<!--    </script>-->
  </body>
</html>
