<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>상품 정보</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/itemInfo.css" />
    <link
      href="https://db.onlinewebfonts.com/c/67680f2eb947c5cbd58b40961b4a61e9?family=Apple+SD+Gothic+Neo+Bold"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="wrap">
      <!-- 상품 이미지, 상품명, 상품 내용 -->
      <div id="header">
        <div id="itemInfo">
          <div id="itemImg">
            <img
              id="item_img"
              src="https://img.79plus.co.kr/megahp/manager/upload/menu/20231025193235_1698229955914_EH9HF0a_7U.jpg"
              width="150px"
            />
          </div>
          <div id="itemTitle" th:text="${ itemName }"></div>
          <div id="itemContent" th:text="${ itemContent }"></div>
          <div
            id="itemCode"
            class="visually-hidden"
            th:text="${ itemCode }"
          ></div>
          <div id="cartCode" class="visually-hidden">
            388cae56-28e9-434e-a3f9-05fe3502f826
          </div>
        </div>
      </div>
      <!-- 퍼스널 옵션, 수량, 추천 메뉴 -->
      <div id="main">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                퍼스널 옵션
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body" style="border: 1px solid red">
                <div class="form-check">
                  <div th:if="${optionN > 0 }">농도</div>
                  <div
                    class="optionContent"
                    th:each="option, status:${ option }"
                    th:if="${option.optionCate == '농도'}"
                  >
                    <input
                      type="radio"
                      class="optionName"
                      name="optionNameN"
                      th:id="${option.optionName}"
                      th:value="${option.optionPrice}"
                    />
                    <label
                      th:for="${option.optionName}"
                      th:text=" | ${option.optionName}|"
                    ></label>

                    <div
                      class="optionPrice"
                      th:text="|+${option.optionPrice}| "
                    ></div>
                  </div>

                  <div th:if="${ optionG > 0 }">꿀 추가</div>
                  <div
                    class="optionContent"
                    th:each="option, status:${ option }"
                    th:if="${option.optionCate == '꿀 추가'}"
                  >
                    <input
                      type="radio"
                      class="optionName"
                      name="optionNameG"
                      th:id="${option.optionName}"
                      th:value="${option.optionPrice}"
                    />
                    <label
                      th:for="${option.optionName}"
                      th:text=" | ${option.optionName}|"
                    ></label>
                    <div
                      class="optionPrice"
                      th:text="|+${option.optionPrice}|"
                    ></div>
                  </div>
                  <div th:if="${ optionT > 0 }">개인 텀블러 사용</div>
                  <div
                    class="optionContent"
                    th:each="option, status:${ option }"
                    th:if="${option.optionCate == '개인 텀블러 사용'}"
                  >
                    <input
                      type="radio"
                      class="optionName"
                      name="optionNameT"
                      th:id="${option.optionName}"
                      th:value="${option.optionPrice}"
                    />
                    <label
                      th:for="${option.optionName}"
                      th:text=" | ${option.optionName}|"
                    ></label>
                    <div
                      class="optionPrice"
                      th:text=" |+${option.optionPrice}|"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="itemQuantity">
          <div id="quantityBox">
            <button class="plus" name="plus">+</button>
            <div id="quantity">1</div>
            <button class="minus" name="minus">-</button>
          </div>
          <div id="price" th:text=" |${ itemPrice }원| "></div>
          <div
            id="priceValue"
            th:text=" ${ itemPrice } "
            class="visually-hidden"
          ></div>
        </div>
        <div id="recommendMemu">
          <h7>추천 메뉴</h7>
          <div id="recomeMain">
            <div id="recomInfo">
              <img
                src="https://img.79plus.co.kr/megahp/manager/upload/menu/20231025193235_1698229955914_EH9HF0a_7U.jpg"
                width="80px"
                th:href=" ${itemRecomImg} "
              />
              <div class="recomTitle" th:text=" ${ItemRecomName} "></div>
              <div class="recomPrice" th:text=" |${ItemRecomPrice} 원|"></div>
            </div>
            <div>
              <input
                type="checkbox"
                th:value="${ItemRecomPrice}"
                id="recomCh"
                name="recomCh"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- 상품 금액, 버튼 -->
      <div id="footer">
        <div id="footerInfo">
          <div id="itemPrice">상품 금액</div>
          <div id="totalItemPrice" th:text=" |${ itemPrice }원| "></div>
        </div>
        <div id="btns">
          <button>바로 주문</button>
          <button id="cartSet">장바구니 담기</button>
        </div>
      </div>
    </div>
    <script src="./js/itemInfo.js"></script>
  </body>
</html>
