<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인</title>
  </head>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"
  ></script>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
    crossorigin="anonymous"
  />
  <body>
    <div id="wrap">
      <div id="header">
        <div class="ad">
          <img
            src="https://img.79plus.co.kr/megahp/manager/upload/bbs/20231023160925_1715025414871_yvE_t77mkF.png"
            alt=""
            id="changingImage"
          />
        </div>
      </div>
      <div id="main">
        <!-- 이름, 스탬프, 쿠폰 -->
        <div id="main_header">
          <div class="nameBox">
            <span class="name">김예림</span>
            <span class="name_content">님</span>
          </div>
          <div id="stempBox">
            <a href="#">스탬프</a>
            <span>8</span>
            <a href="#">쿠폰</a>
            <span>8</span>
          </div>
        </div>
        <!-- 광고 -->
        <div id="main_middel">
          <div id="adCal">
            <!-- 타임리프처리 -->
            <div id="name" class="fs-4">이름님</div>
            <div
              id="carouselExampleControlsNoTouching"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="https://img.79plus.co.kr/megahp/manager/upload/bbs/20231025194941_1715213291013_3HamcHrntS.jpg"
                    class="d-block w-100 rounded"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="https://img.79plus.co.kr/megahp/manager/upload/bbs/20230913165023_1711537337951_OCn043wPN8.jpg"
                    class="d-block w-100 rounded"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="https://img.79plus.co.kr/megahp/manager/upload/bbs/20231023160925_1715025414871_yvE_t77mkF.png"
                    class="d-block w-100 rounded"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleControlsNoTouching"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleControlsNoTouching"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        <!-- 추천메뉴 -->
        <div id="main_footer">
          <div class="nameBox">
            <span class="name">김예림</span>
            <span class="name_content">님을 위한 추천 메뉴</span>
          </div>
        </div>
      </div>
      <!-- 새소식 -->
      <div id="footer">
        <div id="footer_header">
          <span id="title">새소식</span>
          <a href="#">전체보기</a>
        </div>
      </div>
    </div>
  </body>
  <script>
    const images = [
      "https://img.79plus.co.kr/megahp/manager/upload/bbs/20230913165023_1711537337951_OCn043wPN8.jpg",
      "https://img.79plus.co.kr/megahp/manager/upload/bbs/20231025194941_1715213291013_3HamcHrntS.jpg",
      "https://img.79plus.co.kr/megahp/manager/upload/bbs/20231107155045_1716333243773_ueanoLQ4LL.jpg",
      "https://img.79plus.co.kr/megahp/manager/upload/bbs/20230926101455_1712647804005_IpbU74iRTN.png",
      "https://img.79plus.co.kr/megahp/manager/upload/bbs/20230925152816_1712579529407_DvRmkHuE30.png",
    ];
    const images2 = [
      "https://img.79plus.co.kr/megahp/manager/upload/bbs/20230913165023_1711537337951_OCn043wPN8.jpg",
      "https://img.79plus.co.kr/megahp/manager/upload/bbs/20231025194941_1715213291013_3HamcHrntS.jpg",
      "https://img.79plus.co.kr/megahp/manager/upload/bbs/20231107155045_1716333243773_ueanoLQ4LL.jpg",
      "https://img.79plus.co.kr/megahp/manager/upload/bbs/20230926101455_1712647804005_IpbU74iRTN.png",
      "https://img.79plus.co.kr/megahp/manager/upload/bbs/20230925152816_1712579529407_DvRmkHuE30.png",
    ];

    const changingImage = document.getElementById("changingImage");
    let currentIndex = 0;

    function changeImage() {
      changingImage.src = images[currentIndex];
      currentIndex = (currentIndex + 1) % images.length;
    }

    setInterval(changeImage, 2000);

    const changingImage2 = document.getElementById("changingImage2");
    let currentIndex2 = 0;

    function changeImage2() {
      changingImage2.src = images2[currentIndex];
      currentIndex2 = (currentIndex + 1) % images2.length;
    }

    setInterval(changeImage2, 2000);
  </script>
</html>
