<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인</title>
  </head>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"
  ></script>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="./css/main.css" />

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

  <body>
    <div id="wrap">
      <div id="header">
        <div class="ad">
          <img src="./img/광고1.jpg" alt="" id="changingImage" />
        </div>
      </div>
      <div id="main">
        <!-- 타임리프 -->
        <!-- 이름, 스탬프, 쿠폰 -->
        <div id="main_header">
          <div class="nameBox">
            <span class="name" th:text="${ memberName }">김예림</span>
            <span class="name_content">님</span>
          </div>
          <div id="stempBox">
            <img src="./img/mug.png" />
            <a href="/stamp">스탬프</a>
            <span style="margin-right: 20px" th:text="${ memberPoint }"></span>
            <img src="./img/coupon.png" />
            <a href="#">쿠폰</a>
            <span th:text="${ coupon }"></span>
          </div>
        </div>
        <!-- 광고 -->
        <div id="main_middel">
          <swiper-container>
            <swiper-slide>
              <img src="./img/광고1.jpg" width="450px" />
            </swiper-slide>
            <swiper-slide>
              <img src="./img/광고2_2.jpg" width="450px" />
            </swiper-slide>
          </swiper-container>
        </div>

        <!-- 추천메뉴 -->
        <div id="main_footer">
          <div class="nameBox">
            <span class="name" th:text="${ memberName }">김예림</span>
            <span class="name_content">님을 위한 추천 메뉴</span>
            <div class="slider">
              <div class="slider-inner">
                <div
                  class="slider-item"
                  th:onclick="openModal([[${itemName1}]],[[${itemImageUrl1}]],[[${itemContent1}]])"
                >
                  <img
                    src="./img/angle-left_10513349.png"
                    width="150px"
                    th:src="${ itemImageUrl1 }"
                  />
                  <div class="slider_content" th:text="${ itemName1 }"></div>
                </div>
                <div class="slider-item">
                  <img width="150px" th:src="${ itemImageUrl2 }" />
                  <div class="slider_content" th:text="${ itemName2 }"></div>
                </div>
                <div class="slider-item">
                  <img width="150px" th:src="${ itemImageUrl3 }" />
                  <div class="slider_content" th:text="${ itemName3 }"></div>
                </div>
                <div class="slider-item">
                  <img width="150px" th:src="${ itemImageUrl4 }" />
                  <div class="slider_content" th:text="${ itemName4 }"></div>
                </div>
                <div class="slider-item">
                  <img width="150px" th:src="${ itemImageUrl5 }" />
                  <div class="slider_content" th:text="${ itemName5 }"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 새소식 -->
      <div id="footer">
        <div id="footer_header">
          <span id="title">새소식</span>
          <a href="/newsEvent">전체보기</a>
        </div>
        <div id="footer_middle">
          <div class="slider2">
            <div class="slider-inner2">
              <div class="slider-item2">
                <img
                  src="./img/이벤트글.jpg"
                  width="150px"
                  th:src="${ eventImage1 }"
                />
                <div class="slider_content2" th:text="${ eventTitle1 }">
                  [이벤트]메가MGC커피 X CJONE, MEGA ONE DAY
                </div>
              </div>
              <div class="slider-item2">
                <img
                  src="./img/이벤트글.jpg"
                  width="150px"
                  th:src="${ eventImage2 }"
                />
                <div class="slider_content2" th:text="${ eventTitle2 }">
                  [이벤트]메가MGC커피 X CJONE, MEGA ONE DAY
                </div>
              </div>
              <div class="slider-item2">
                <img
                  src="./img/이벤트글.jpg"
                  width="150px"
                  th:src="${ eventImage3 }"
                />
                <div class="slider_content2" th:text="${ eventTitle3 }">
                  [이벤트]메가MGC커피 X CJONE, MEGA ONE DAY
                </div>
              </div>
              <div class="slider-item2">
                <img
                  src="./img/이벤트글.jpg"
                  width="150px"
                  th:src="${ eventImage4 }"
                />
                <div class="slider_content2" th:text="${ eventTitle4 }">
                  [이벤트]메가MGC커피 X CJONE, MEGA ONE DAY
                </div>
              </div>
              <div class="slider-item2">
                <img
                  src="./img/이벤트글.jpg"
                  width="150px"
                  th:src="${ eventImage5 }"
                />
                <div class="slider_content2" th:text="${ eventTitle5 }">
                  [이벤트]메가MGC커피 X CJONE, MEGA ONE DAY
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="icon" onclick="click_icon();">
          <img src="./img/메가커피로고1.png" width="60px" alt="" />
          <div style="font-weight: bold">쇼핑몰</div>
        </div>
        <div id="footer_menu">
          <div name="menu" onclick="click_main();" class="menu_height">
            <img src="./img/home_1946436.png" width="23px" />
            <div class="menu_name">메인</div>
          </div>
          <div class="menu">
            <img src="./img/coin_117626.png" width="23px" />
            <div class="menu_name">메가선불카드</div>
          </div>
          <div name="menu" onclick="click_megaOrder();" class="menu">
            <img src="./img/coffee-cup_657491.png" width="23px" />
            <div class="menu_name">메가오더</div>
          </div>
          <div class="menu">
            <img src="./img/gift-box-with-bow_66834.png" width="23px" />
            <div class="menu_name">선물하기</div>
          </div>
          <div name="menu" onclick="click_more();" class="menu">
            <img src="./img/options_2647907.png" width="23px" />
            <div class="menu_name">더보기</div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./js/slider.js"></script>
  <script src="./js/main.js"></script>
</html>
