<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Mega coffee menu</title>
    <link rel="icon" href="" />
    <link rel="stylesheet" type="text/css" href="./css/menu.css" />
  </head>
  <body>
    <div class="kiosk-box">
      <div class="wrap">
        <div class="header">
          <div class="headerRightBox">
            <div class="returnButtonBox">
              <button id="returnButton">이전</button>
            </div>
            <div class="headerTextBox">
              <span class="headerText">주문하기</span>
            </div>
            <div id="searchBox">검색하기</div>
          </div>
        </div>
        <div class="main">
          <div class="nav">
            <button id="recommendMenu">신메뉴</button>
            <button id="coffee">커피</button>
            <button id="dessert">디저트</button>
            <button id="drinks">음료</button>
          </div>
          <div class="section"></div>
          <div class="sectionMove">
            <button id="prevButton"><</button>
            <button id="nextButton">></button>
          </div>
        </div>
        <div class="cartBox">
          <div class="goToBox">
            <button onclick="goToBack()" id="goToBack">주문 취소</button>
            <button onclick="goToPay()" id="goToPay">주문 완료</button>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/menu.js"></script>
  </body>
</html>
