<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Mega coffee menu</title>
    <link rel="icon" href="" />
    <link rel="stylesheet" type="text/css" id="cssSort" href="./css/menu.css" />
  </head>

  <body>
    <div class="kiosk-box">
      <div class="wrap">
        <div class="header bg-light">
          <div class="headerRightBox bg-light">
            <div class="returnButtonBox">
              <img src="./Img/left-arrow.png" />
            </div>
            <div class="headerTextBox">
              <span class="headerText">주문하기</span>
            </div>
            <div id="searchBox">
              <img src="./Img/search.png" alt="" />
              <img src="./Img/exclamation.png" alt="" />
            </div>
          </div>
        </div>
        <div class="main">
          <div class="nav flex-nowrap">
            <div><button class="navB" id="recommendMenu">신메뉴</button></div>
            <div><button class="navB" id="coffeeH">커피(HOT)</button></div>
            <div><button class="navB" id="coffeeI">커피(ICE)</button></div>
            <div><button class="navB" id="dessert">디저트</button></div>
            <div><button class="navB" id="drinks">에이드&주스</button></div>
            <div><button class="navB" id="SF">스무디&프라페</button></div>
          </div>
          <div class="nav2">
            <div id="menuAcount">몇개</div>
            <div id="sort" onclick="sort1()">1열보기</div>
          </div>
          <div class="section"></div>
          <div class="sectionMove">
            <button id="prevButton"><</button>
            <button id="nextButton">></button>
          </div>
        </div>
        <div class="cartBox">
          <div class="goToBox">
            <button onclick="goToBack()" id="goToBack">의정부역점</button>
            <button
              onclick="goToPay()"
              id="goToPay"
              class="btn position-relative"
            >
              <img src="./Img/icons8-cart-30.png" alt="" />
              <span class="visually-hidden">unread messages</span>
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                >99+
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/menu.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </body>
</html>
