<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"
  ></script>

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="./css/more.css" />

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  <body>
    <div id="wrap">
      <div id="header">
        <a href="/memberSetting" class="text-secondary">계정설정</a>
      </div>
      <div id="main">
        <div id="adCal">
          <!-- 타임리프처리 -->
          <span id="memberName" class="fs-5" th:text="${ memberName }"></span>
          <span class="fs-5">님</span>
          <div id="ad">
            <swiper-container>
              <swiper-slide>
                <img src="./img/광고2_2.jpg" width="400px" />
              </swiper-slide>
              <swiper-slide>
                <img src="./img/메가커피_광고2.jpg" width="400px" />
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
        <div id="membership" class="list">
          <div class="listTitle">맴버십</div>
          <a href="/stamp">스탬프</a>
          <a href="/coupon">쿠폰</a>
        </div>
        <div id="order" class="list">
          <div class="listTitle">주문</div>
          <a href="/store">메가 오더</a>
          <a
            href="https://event.multicon.co.kr/survey/megacoffee_b2b?pid=vMhY17LbBfZiMJek8dYI1A%3D%3D&curr_time=1701321895&uid=7840293006574191"
            >상품권 대량 구매 신청</a
          >
        </div>
        <div id="news" class="list">
          <div class="listTitle">새소식</div>
          <a href="/newsEvent">이벤트</a>
          <a href="">공지사항</a>
        </div>
      </div>
      <div id="nav">
        <div id="footer_menu">
          <div name="menu" onclick="click_main();" class="menu">
            <img src="./img/home_1946436.png" width="23px" />
            <div class="menu_name">메인</div>
          </div>
          <div class="menu">
            <img src="./img/coin_117626.png" width="23px" />
            <div class="menu_name">메가선불카드</div>
          </div>
          <div name="menu" onclick="click_megaOrder();" class="menu">
            <img src="./img/coffee-cup_657491.png" width="23px" />
            <div class="menu_name">메가오더</div>
          </div>
          <div class="menu">
            <img src="./img/gift-box-with-bow_66834.png" width="23px" />
            <div class="menu_name">선물하기</div>
          </div>
          <div name="menu" onclick="click_more();" class="menu_height">
            <img src="./img/options_2647907.png" width="23px" />
            <div class="menu_name">더보기</div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./js/more.js"></script>
</html>
